apiKey: "AIzaSyBdi6qt0AZWtlnAqkSKCmyNP9T5ty0Suds"
authDomain: "mind-cascade.firebaseapp.com"
databaseURL: "https://mind-cascade.firebaseio.com"
storageBucket: "mind-cascade.appspot.com"
messagingSenderId: "111571490176"
